@import "base/reset";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "components/fonts";
@import "components/header";
@import "components/footer";
@import "components/home";

body *{
  font-family: 'TT Norms Pro', 'sans-serif';
}
p, ul li, a{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 10px 17px;
  gap: 15px;
  color: #fff;
  background: #EB5D37;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
}
.vue-universal-modal{
  z-index: 2;
}