@font-face {
  font-family: TT Norms Pro;
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/TT Norms Pro Regular.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: TT Norms Pro;
  font-style: normal;
  font-weight: bold;
  src: url("../public/fonts/TT Norms Pro Bold.otf") format('opentype');
  font-display: swap;
}